
.linee{
    height: 4px;
    width: 80px;
    background-color: #2C3E50 !important;
}
.linestarr{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: #2C3E50;
    font-size: 40px;
    font-weight: 900 bold;
}
i{
    color: #2C3E50;
}
label{
    color: #1ABC9C !important;
}
img{
    border-radius: 5px;
}
.contact{
    display: flex;
    flex-direction: column;
    height: 90vh;
}
input{
    outline: none !important;
    border-radius: 5px;
}
